* {
    padding:0;
    text-align: center;
    box-sizing: border-box;
}



/* Dark Mode */

.dark {
    background-color:darkcyan;
    

}

/*Light Mode */
.light {
    background-color:antiquewhite;
}
.light .dark {
    display: none;
}

.dark .light {
    display: none;
}


span:hover {
    cursor: pointer;
    /*<span style='font-size:100px;'>&#127769;</span>*/
}


li {
    list-style: none;
    margin-top: 20px;
}

header {
    display: flex;
    justify-content: flex-end;
    border: 2px solid black;
    width: 100%;
    min-height: 40px;
    margin-bottom: 2px;

}

header span {
    margin-right: 5px;
}


h1:hover {
    cursor: pointer;
}


.content {
    display:flex;
    justify-content: center;
    margin: auto;
    min-height: 500px;

}

.blog-hero {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items:center;
    border: 2px solid black;
    width: 50%;
}


.blog-hero h1{
    display: flex;
    align-items:center;
    bor
}


.blog-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    flex: 2;
    border: 2px solid black;
    margin-left: 10px;
    width: 50%;
}

blog-form {
    display: flex;
    justify-content: flex-start;
}

button {
  background-color: #001b44;
  color: #fff;
  cursor: pointer;
  line-height: 4px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
}